<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- jQuaery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- local css and JS-->
    <link rel="stylesheet" href="../static/main/main.css">
    <link rel="stylesheet" href="../static/main/bord.css">
    <script src="../static/main/main.js"></script>

    <title>Title</title>

</head>

<body>
    <h2>
        mainPage Test
    </h2>
    <div class="container">
        <div class="item1">
            <div class="item_rank">
                TIL 랭킹
                <table id="ranking_list">
                </table>
            </div>
        </div>
        <div class="item2">
            this is Bord
            <button>all</button>
            <button style="backgroundImage:url">react</button>
            <button>Node</button>
            <button>Spring</button>
            
        </div>

    </div>
</body>

</html>