<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- jQuaery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- local css and JS-->
    <link rel="stylesheet" href="/static/css/bord.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <!-- <link rel="stylesheet" href="/static/css/header.css"> -->


    <title>Main</title>

</head>

<body>
    {% include "header.html" %}
    <div class="container">
        <div class="item1">
            <div class="item_rank">
                <div class="rank-title">TIL 랭킹</div>
                <table id="ranking_list" class="rank-table">
                </table>
            </div>
        </div>
        <div class="item2">
            <div class="quest-bord">
                this is Bord
                <div class="quest-head">
                    <div class="btn-box quest-item">
                        <button id="btn-all" class="category-btn all" key="all"></button>
                        <button id="btn-react" class="category-btn react" key="React"></button>
                        <button id="btn-node" class="category-btn node" key="Node"></button>
                        <button id="btn-spring" class="category-btn spring" key="Spring"></button>
                    </div>
                    <div class="search-box">
                        <form id="search-form">
                            <img src="/static/img/search.png" class="btn-search">
                            <input class="input-box" type="text" name="search" placeholder="검색">
                        </form>
                    </div>
                    <div class="text-btn-con">
                        <button id="question-made" class="text-btn" onclick="location.href='/question'">질문 작성하기</button>
                        <button id="order-latest" class="text-btn" onclick="clickLatest()">날짜순</button>
                        <button id="order-likes" class="text-btn" onclick="clickLikes()">좋아요순</button>
                    </div>

                </div>
                <table class="quest-table">
                    <thead>
                        <tr>
                            <th scope="col" class="ability">기술스택</th>
                            <th scope="col" class="title">제목</th>
                            <th scope="col" class="author">작성자</th>
                            <th scope="col" class="heart">좋아요</th>
                            <th scope="col" class="date">작성날짜</th>
                            <!-- <th scope="col">날짜</th> -->
                        </tr>
                    </thead>
                </table>
                <div style="width: 105%; height: 450px; overflow-y: scroll; background-color: white;">
                    <table class="quest-table">
                        <tbody id="question_list" class="question-list">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/main.js"></script>
</body>

</html>